<ng-container>
    <div class="gauge">
        <svg viewBox="0 0 40 40" class="gauge__container">
            <circle cx="20" cy="20" r="19" />
            <g class="gauge__container__hours">
                <line x1="18" y1="0" x2="19" y2="0" /> 
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
            </g>
            <g class="gauge__container__hour-numbers">
                <text x="18" y="8">00</text>
                <text x="31" y="21">06</text>
                <text x="18" y="35">12</text>
                <text x="4" y="21">18</text>
            </g>
            <g  class="gauge__container__icons">
                <text x="18" y="18" class="fas">&#xf238;</text>
                <text x="17" y="28" class="fas">&#xf83e;</text>
            </g>
        </svg>
        
    </div>
</ng-container>