<ng-container *ngIf="(weighbridge | json) != '{}'">
    <div class="gauge">
        <svg viewBox="0 0 40 40" class="gauge__container">
            <circle cx="20" cy="20" r="19" />
            <g class="gauge__container__hours">
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="18" y1="0" x2="19" y2="0" />
                <line x1="17" y1="0" x2="19" y2="0" />
            </g>
            <g class="gauge__container__hour-numbers">
                <text x="18" y="8">00</text>
                <text x="31" y="21">06</text>
                <text x="18" y="35">12</text>
                <text x="4" y="21">18</text>
            </g>
            <g class="gauge__container__icons">
                <text x="18" y="18" class="fas"
                    [ngStyle]="{'stroke': 'var('+getStatusColor(weighbridge.tSR4000Status)+')'}">&#xf238;</text>
                <text x="17" y="28" class="fas"
                    [ngStyle]="{'stroke': 'var('+getStatusColor(weighbridge.iLine2Status)+')'}">&#xf83e;</text>
            </g>
        </svg>
            <svg viewBox="0 0 50 50" class="gauge__availability">
                <path id="arc1" fill="none"  stroke-width="2" *ngFor="let availability of availabilities"
                    [ngStyle]="{'stroke': 'var('+getStatusColor(availability.status)+')'}"
                    [attr.d]="drawAvailability(availability?.fromDateTime,availability?.toDateTime)">
                    <title>{{convertUTCToHumanTime(availability?.fromDateTime)}} {{convertUTCToHumanTime(availability?.toDateTime)}}</title>
                </path>
            </svg>
            <svg viewBox="0 0 50 50" class="gauge__trains">
                <a [title]="convertUTCToHumanTime(train?.eventDateTime)" (click)="onTrainEventClick(train?.pdfUrl)"  *ngFor="let train of trains">
                    <path id="arc1" fill="none"  stroke-width="4" 
                        [ngStyle]="{'stroke': 'var('+getStatusColor(train.status)+')'}"
                        [attr.d]="drawTrainEvent(train?.eventDateTime)">
                        <title>{{convertUTCToHumanTime(train?.eventDateTime)}}</title>
                    </path>
                </a>
            </svg>
    </div>

</ng-container>
