body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --color-gray: #373030;
    --color-blue: #00a9ff;
    --color-red: #f5473c;
    --color-yellow: #ffff00;
    --color-green: #007f00;
}